<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta name="theme-color" content="#346ca9"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name=”description” content=”Looking for a new website for your Non Profit or small business? Look no further than NJ based 2 Dogs Media. 10+ years of experience doing what we love!“/>

		<title>mobile</title>

		<style media="screen">
			body{font-family:'Open Sans',Helvetica,sans-serif;margin:0;padding-top:58px;background-color:#f1f1f1;background-image:url(../img/bg1.png);background-size:cover}.box{background-color:#fff;border:1px solid #6d6d6d;border-radius:3px;padding:13px;box-shadow:0 2px 13px 0 rgba(0,0,0,.2),0 0 17px 0 rgba(0,0,0,.12)!important}.box-title{font-size:18px;font-weight:600;line-height:25px;color:#3783b7}.favorite{color:#3783b7;position:absolute;right:15px;top:15px}.box-description{line-height:1.8;color:#4e4e4e;font-size:12px;font-weight:400;line-height:14px}.box-footer{display:-webkit-flex;-webkit-justify-content:space-between;display:flex;justify-content:space-between}.icon-color{color:#3783b7}.container-body{padding:15px 10px 10px 10px}.menu-top{top:0;position:fixed;width:100%;display:-webkit-flex;-webkit-justify-content:center;display:flex;justify-content:space-between;padding:10px 20px 10px 20px;z-index:10000;background:linear-gradient(0deg,#2f9ebf 0,#346ca9 100%)}.menu-top div img{width:100px;height:auto}.menu-top div{font-size:1.5em}.menu-top div a{color:#fff}.box{border:1px solid #ccc;border-radius:3px;margin-bottom:15px}.box-title p{margin-bottom:11px;font-size:12px;line-height:8px;color:#4e4e4e}.divider{margin-bottom:25px}.result{padding:10px 10px 10px 10px;background-color:#c3d9e8;color:#000}.result-text h1{font-size:15px}.sidenav{height:100%;width:0;position:fixed;z-index:1;top:0;left:0;background-color:#e8e8e8;overflow-x:hidden;transition:.5s;padding-top:60px}@media screen and (max-height:450px){.sidenav{padding-top:15px}}.sidemenu{height:100%;width:0;position:fixed;z-index:1;top:0;left:0;background-color:#111;overflow-x:hidden;transition:.5s;padding-top:60px}.sidemenu a{padding:8px 8px 8px 32px;text-decoration:none;font-size:25px;color:#fff;display:block;transition:.3s}.sidemenu a:hover{color:#f1f1f1}@media screen and (max-height:450px){.sidemenu{padding-top:15px}.sidemenu a{font-size:18px}}p{margin-bottom:30px}.custom-search-input-2{background-color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;margin-top:10px;-webkit-box-shadow:0 0 30px 0 rgba(0,0,0,.3);-moz-box-shadow:0 0 30px 0 rgba(0,0,0,.3);box-shadow:0 0 30px 0 rgba(0,0,0,.3)}@media (max-width:991px){.custom-search-input-2{background:0 0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}}.custom-search-input-2 input{border:0;height:50px;padding-left:15px;border-right:1px solid #d2d8dd;font-weight:500}@media (max-width:991px){.custom-search-input-2 input{border:none}}.custom-search-input-2 input:focus{box-shadow:none;border-right:1px solid #d2d8dd}@media (max-width:991px){.custom-search-input-2 input:focus{border-right:none}}.custom-search-input-2 .form-group{margin:0}@media (max-width:991px){.custom-search-input-2 .form-group{margin-bottom:5px}}.custom-search-input-2 i{-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;font-size:18px;font-size:1.125rem;position:absolute;background-color:#fff;line-height:50px;top:1px;right:1px;padding-right:15px;display:block;width:20px;box-sizing:content-box;height:48px;z-index:9;color:#999}@media (max-width:991px){.custom-search-input-2 i{padding-right:10px}}.custom-search-input-2 input[type=submit]{-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out;color:#fff;font-weight:600;font-size:14px;font-size:.875rem;border:0;padding:0 25px;height:50px;cursor:pointer;outline:0;width:100%;-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-ms-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;background-color:#dc3545;margin-right:-1px}@media (max-width:991px){.custom-search-input-2 input[type=submit]{margin:20px 0 0 0;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px}}.custom-search-input-2 input[type=submit]:hover{background-color:#ffc107;color:#222}.form-control{height:calc(2.55rem + 2px);font-size:14px;font-size:.875rem;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;border:1px solid #d2d8dd}.form-group{position:relative}.nice-select .list:hover .option:not(:hover){background-color:transparent!important}select{border:0;height:50px!important;padding-left:15px;border-right:1px solid #d2d8dd;font-weight:500}.isDisabled {pointer-events: none;cursor: default;text-decoration: none;color: black;}
			button > a {text-decoration: none;color: #fff}a:hover {color: #fff!important;text-decoration: none!important;}
		</style>
		<!--<link rel="stylesheet" type="text/css" href="./css/custom.css">-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	</head>
	<body>
		<!-- MENU INCLUDED -->
		<%- include menu.ejs%>

		<div id="main">
			<div class="result">
				<div class="result-text">
					<h1>
						<% if(query.vaga != '') { %> Você buscou por <strong><%= query.vaga %></strong> <% } %>
						<% if(query.vaga == '') { %> <strong>Empregos</strong> <% } %>
						em <strong><%= query.cidade == 'todas' ? 'Campinas e Região' : query.cidade %>/SP</strong>,
						retornando <%= count %> Resultado<%= count > 1 ? 's' : '' %>.
					</h1>
				</div>
			</div>

			<div class="container-body">
				<div class="listings-container compact-list-layout margin-top-35">
					<% for(var i = 0; i < data.length; i++){ %>
					<a href="/vaga/<%= data[i].url %>" style="text-decoration:none">
						<div class="box">
							<div class="favorite">
								<div><i class="icon-color fab fa-accessible-icon"></i></div>
							</div>
							<div class="box-title">
								<span><%= data[i].title %></span>
								<p>
									<i class="icon-color fa fa-map-marker-alt"></i> <%= data[i].city %>/SP
									<% if(data[i].pcd != 'Não'){ %>
									<span style="float: right;">
										<i class="icon-color fab fa-accessible-icon"></i> <%= data[i].pcd %> PCD
									</span>
									<% } %>
								</p>
							</div>
							<hr>
							<div class="box-description">
								<p> <%= data[i].description %></p>
							</div>
							<hr/>
							<div class="box-description box-footer">
								<div><i class="icon-color fa fa-user-alt"></i>
									<%= data[i].vacancies %>
									vaga<%= data[i].vacancies > 1 ? 's' : '' %></div>
								<div><i class="icon-color far fa-clock"></i> 5 dias atrás</div>
							</div>
						</div>
					</a>
					<% } %>

					<div class="divider"></div>

					<center>
						<small><strong>Página <%= page %> de <%= sizePage %></strong></small>
						<br/>
						<div class="btn-group" role="group" aria-label="Basic example">
						  <button type="button" class="btn btn-secondary <%= page == 1 ? 'disabled' : '' %>">
								<a class="<%= page == 1 ? 'isDisabled' : '' %>" href="/empregos?vaga=<%= query.vaga %>&cidade=<%= query.cidade %>&page=<%= page-1 %>">
									<i class="fas fa-chevron-left"></i> Anterior
								</a>
							</button>
						  <button type="button" class="btn btn-secondary <%= page == sizePage ? 'disabled' : '' %>">
								<a class="<%= page == sizePage ? 'isDisabled' : '' %>" href="/empregos?vaga=<%= query.vaga %>&cidade=<%= query.cidade %>&page=<%= page+1 %>">
									Proxíma <i class="fas fa-chevron-right"></i>
								</a>
							</button>
						</div>
					</center>

					<!--<center>
						<small><strong>Página <%= page %> de <%= sizePage %></strong></small>
						<nav aria-label="Page navigation example">
							<ul class="pagination pagination-sm justify-content-center">
								<li class="page-item">
									<a class="page-link" href="/empregos?vaga=<%= query.vaga %>&cidade=<%= query.cidade %>&page=1"> < </a>
								</li>
								<% for(let i = 0; i < pagination.length; i++){ %>
								<li class="page-item <%= pagination[i].active ? 'active' : '' %>">
									<a class="page-link" href="/empregos?vaga=<%= query.vaga %>&cidade=<%= query.cidade %>&page=<%= pagination[i].value %>"> <%= pagination[i].value %> </a>
								</li>
								<% } %>
								<li class="page-item">
									<a class="page-link" href="/empregos?vaga=<%= query.vaga %>&cidade=<%= query.cidade %>&page=<%= sizePage %>"> > </a>
								</li>
							</ul>
						</nav>
					</center>-->
				</div>
			</div>
		</div>

		<script>
			function openNav(e){var t=document.getElementById(e).style.width;"mySidenav"==e?"0px"==t||""==t?(document.getElementById(e).style.width="100%",document.getElementById("myMenu").style.width="0"):document.getElementById(e).style.width="0":"0px"==t||""==t?(document.getElementById(e).style.width="250px",document.getElementById("mySidenav").style.width="0"):document.getElementById(e).style.width="0"}window.onclick=function(e){"myMenu"!=e.target.id&&"openMenu"!=e.target.id&&(document.getElementById("myMenu").style.width="0")};
		</script>
	</body>
</html>
